@model YemekTarifleri.MvcWebUI.Models.LoginViewModel
@{
    ViewBag.Title = "Login";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <title>Matrix Admin</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="~/Content/admin/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/admin/css/bootstrap-responsive.min.css" rel="stylesheet" />
    <link href="~/Content/admin/css/matrix-login.css" rel="stylesheet" />
    <link href="~/Content/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,800' rel='stylesheet' type='text/css'>

</head>
<body>
    <div id="loginbox">
        @using (Html.BeginForm(Html.BeginForm("Login", "Account", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-vertical", name = "basic_validate", id = "loginform" })))
        {

            <div class="control-group normal_text"> <h3><img src="~/Content/admin/img/logo.png" alt="Logo" /></h3></div>
            <div class="control-group">
                <div class="controls">
                    <div class="main_input_box">
                        <span class="add-on bg_lg"><i class="icon-user"> </i></span>
                        @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { type = "text", placeholder = "Username" } })
                        @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                    <div class="main_input_box">
                        <span class="add-on bg_ly"><i class="icon-lock"></i></span>
                        @Html.EditorFor(model => model.Password, new { htmlAttributes = new {type="password", placeholder = "Password" } })
                        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                    <div class="text-md-right">
                    
                        @Html.CheckBoxFor(model => model.RememberMe) Beni Hatırla
                    </div>
                </div>
            </div>
            <div class="form-actions">
                <span class="pull-left"><a href="#" class="flip-link btn btn-info" id="to-recover">Lost password?</a></span>
                <span class="pull-right"><button type="submit" class="btn btn-success"> Login</button></span>
            </div>

        }
        <form id="recoverform" action="#" class="form-vertical">
            <p class="normal_text">Enter your e-mail address below and we will send you instructions how to recover a password.</p>

            <div class="controls">
                <div class="main_input_box">
                    <span class="add-on bg_lo"><i class="icon-envelope"></i></span><input type="text" placeholder="E-mail address" />
                </div>
            </div>

            <div class="form-actions">
                <span class="pull-left"><a href="#" class="flip-link btn btn-success" id="to-login">&laquo; Back to login</a></span>
                <span class="pull-right"><a class="btn btn-info">Reecover</a></span>
            </div>
        </form>
    </div>
    <script src="~/Scripts/Admin/js/jquery.min.js"></script>
    <script src="~/Scripts/Admin/js/matrix.login.js"></script>

</body>

</html>


