@model YemekTarifleri.MvcWebUI.Models.MealViewModel
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/_LayoutAdmin.cshtml";
}
<div id="content-header">
    <div id="breadcrumb"> <a href="index.html" title="Go to Home" class="tip-bottom"><i class="icon-home"></i> </a></div>
</div>
<!--End-breadcrumbs-->
<!--Action boxes-->
<div class="container-fluid">

    <div class="container-fluid">
        <hr>
        <div class="row-fluid">
            <div class="span12">
                <div class="widget-box">
                    <div class="widget-title">
                        <span class="icon"> <i class="icon-info-sign"></i> </span>
                        <h5>Tarifi Güncelle</h5>
                    </div>
                    <div class="widget-content nopadding">
                        @using (Html.BeginForm(Html.BeginForm("Update", "Meal", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal", name = "basic_validate", id = "basic_validate", novalidate = "novalidate" })))
                        {
                            @Html.HiddenFor(model => model.Meal.Id)
                            <div class="control-group">
                                <label class="control-label">Kategoriler</label>
                                <div class="controls">
                                    @Html.DropDownListFor(model => model.Meal.CategoryId, (IEnumerable<SelectListItem>)Model.Categories, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.Meal.CategoryId, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="control-group">
                                <label class="control-label">Kullanıcı Adı</label>
                                <div class="controls">
                                    @Html.EditorFor(model => model.Meal.UserId, new { htmlAttributes = new { name = "required", id = "required" } })
                                    @Html.ValidationMessageFor(model => model.Meal.UserId, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="control-group">
                                <label class="control-label">Yemek Adı</label>
                                <div class="controls">
                                    @Html.EditorFor(model => model.Meal.Name, new { htmlAttributes = new { name = "required", id = "required" } })
                                    @Html.ValidationMessageFor(model => model.Meal.Name, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="control-group">
                                <label class="control-label">Açıklama</label>
                                <div class="controls">
                                    @Html.TextAreaFor(model => model.Meal.Description, new { @class = "textarea_editor span12", rows = "6" })
                                    @Html.ValidationMessageFor(model => model.Meal.Description, "", new { @class = "text-danger" })
                                </div>
                            </div>



                            <div class="control-group">
                                <label class="control-label">Pişirme Süresi</label>
                                <div class="controls">
                                    @Html.EditorFor(model => model.Meal.CookingTime, new { htmlAttributes = new { name = "required", id = "required" } })
                                    @Html.ValidationMessageFor(model => model.Meal.CookingTime, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="control-group">
                                <label class="control-label">Kaç Kişilik</label>
                                <div class="controls">
                                    @Html.EditorFor(model => model.Meal.PersonQuantity, new { htmlAttributes = new { name = "required", id = "required" } })
                                    @Html.ValidationMessageFor(model => model.Meal.PersonQuantity, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="control-group">
                                <label class="control-label">Hazırlık Süresi</label>
                                <div class="controls">
                                    @Html.EditorFor(model => model.Meal.PreparationTime, new { htmlAttributes = new { name = "required", id = "required" } })
                                    @Html.ValidationMessageFor(model => model.Meal.PreparationTime, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="control-group">
                                <label class="control-label">Resim </label>
                                <div class="controls">
                                    <img src="@Model.Meal.Image" height="100px" width="100px" />
                                    @Html.ValidationMessageFor(model => model.Meal.Image, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="control-group">
                                <label class="control-label">Resim Değiştir</label>
                                <div class="controls">
                                    <input type="file" id="image" name="image" class="form-control" accept=".jpg,.png" Value="@Model.Meal.Image"/>
                                    @Html.ValidationMessageFor(model => model.Meal.Image, "", new {@class = "text-danger"})
                                </div>
                            </div>


                            <div class="form-actions">
                                <input type="submit" value="Oluştur" class="btn btn-success">
                            </div>

                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/Admin/js/wysihtml5-0.3.0.js"></script>

<script>
    $('.textarea_editor').wysihtml5();
</script>